/* Fonts provided by https://github.com/amcchord/datto-d-din */

@font-face {
    font-family: "D-DIN";
    src: url("D-DIN.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "D-DIN-Bold";
    src: url("D-DIN-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #000000;
    --dark: #0c0c0c;
    --light: #272727;
    --hover: #e1e1e1;
    --main: #ffffff;
}

body {
    font-family: "D-DIN", sans-serif;
    background-color: var(--background);
    color: var(--main);
}

h1,
h2 {
    font-family: "D-DIN-Bold", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--dark);
}

.data {
    display: flex;
    flex-direction: row;
}

.chart {
    width: 40vw !important;
    height: 400px !important;
    padding: 10px;
}

.charts {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.parent {
    position: absolute;
    right: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 8px;
    background-color: var(--dark);
    border-radius: 4px;
}

.button {
    font-family: "D-DIN-Bold", sans-serif;
    font-size: medium;
    border-radius: 4px;
    background-color: var(--main);
    border-color: var(--background);
    padding: 20px;
    margin: 4px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--hover);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 8px;
    border-radius: 4px;
    color: var(--main);
    background-color: var(--dark);
}

.info {
    margin-top: 8px;
    background-color: var(--dark);
    padding: 10px;
    padding-left: 20px;
    border-radius: 4px;
}

.input-form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-button {
    width: 240px;
}

.input-box {
    background-color: var(--dark);
    color: var(--main);
    font-family: "D-DIN-Bold", sans-serif;
    border: none;
    padding: 20px;
    border-radius: 4px;
    margin: 4px;
    width: 200px;
}

.input-box:focus {
    outline: none;
}

.bold {
    font-family: "D-DIN-Bold", sans-serif;
}
