<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='index.css') }}"
        />
    </head>
    <body>
        <nav class="header">
            <h2>Register to Starlink Dashboard</h2>
        </nav>
        <div class="input-form">
            <form method="POST" class="input-form">
                <input
                    class="input-box"
                    type="text"
                    name="username"
                    placeholder="Username"
                    required
                />
                <input
                    class="input-box"
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                />
                <button class="button" type="submit" id="login-button">
                    Register
                </button>
            </form>
            <a href="{{ url_for('login') }}">
                <button class="button" type="button" id="login-button">
                    Login
                </button>
            </a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </body>
</html>
